body {
    display: flex;
    flex-direction: column;
}

.header, .content-one, .footer {
    background: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-style: bold;
}

.header-links {
    font-size: 18px;
    color: #d8d8da;
    font-weight: lighter;
}

.registration-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.registration-header {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.registration-body {
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 10px;
}

.registration-button {
    background-color: #3882F6;
    text-align: center;
    color: white;
    border: none;
    font-size: 16px;
}

.top-image {
    height: auto;
    width: 350px;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}



.content-one {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

.content-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px; 
}

.content-three {
    background: #E5E7EB;
    display: column;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    text-align: center;
}

.speaker {
    text-align: right;
    font-style: bold;
}

.content-four {
    padding: 50px 200px;
}

.content-box {
    background: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer-text {
    padding: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
}